* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}



.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #0f1116;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primary {
    border-color: transparent;
    padding: 10px 20px;
    background-color: rgb(172, 180, 192);
    border-radius: 20px;
    font-size: 13px;
}

.secondary {
    border: 1px solid white;
    padding: 10px 20px;
    background: none;
    border-radius: 20px;
    font-size: 13px;
    color: white;
}


.hero {
    /* background-color: #0f1116; */
    width: auto;
    height: 850px;
    padding: 100px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.tag {
    border: 1px solid white;
    padding: 10px 20px;
    background: none;
    border-radius: 20px;
    font-size: 13px;
    color: white;
}

.heading {
    font-size: 88px;
    font-weight: lighter;
    line-height: 88px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.para {
    font-size: 16px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    display: flex;
    gap: 20px;
}

.counting {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.uptime,
.team,
.avg {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 16px;
    color: white;

}
.icon{
   
}