* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --container-width: 1320px;
    transition: all 0.3sec;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

button,
input,
textarea,
select {
    border: none;
    outline: none;
    font: inherit;
}

button {
    cursor: pointer;
}

button:hover {}

.navigation {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 5px 73px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

.connect {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login-lan {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact,
.email,
.lan,
.login {
    display: flex;
    gap: 16px;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

i {
    color: #E7A837;
}

.nav_wraper {

    display: flex;
    gap: 16px;

}

/* .logo {
    background-image: url();
    height: 40px;
} */

.nav_items {
    width: 100%;
    height: 60px;
    padding: 5px 17px;
    padding-left: 73px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

.nav_links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 15px; */
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

li a {
    padding: 8px 10px;
}

li:hover {
    /* padding: 10px 15px; */
    border: solid #E7A837;
    border-radius: 40px;
    border-left: 1px;
    border-right: 1px;
    cursor: pointer;
    transition: 1000ms;
}

.primary_btn {
    width: 213px;
    height: 60px;
    padding: 8px;
    padding-left: 26px;
    background-color: black;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #E7A837;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}

.primary_btn i {
    width: 40px;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    rotate: 315deg;
}

.primary_btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #E7A837;

    .fa-solid {
        background: black;
    }
}

.hero {
    margin: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 78%), rgba(219, 217, 217, 0)), url(./assets/banner.jpg);
    background-size: cover;
    border-radius: 40px;
    padding: 128px 226px 64px 226px;
    display: flex;
    flex-direction: column;
    gap: 207px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.hero_header {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero_heading {
    font-size: 8rem;
    font-weight: 700;
    color: white;
}

span {
    color: #FFC358;
}

.hero_details {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.secondary_btn {
    width: 213px;
    height: 60px;
    padding: 8px;
    padding-left: 26px;
    background-color: rgb(255, 250, 250);
    border: 1px solid #E7A837;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #E7A837;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}

.secondary_btn i {
    width: 40px;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    rotate: 315deg;
}

.secondary_btn:hover {
    background-color: black;
    color: #E7A837;
    /* border: 1px solid #E7A837; */

    .fa-solid {
        background: white;
    }
}

.hero_wraper {
    padding: 20px 46px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.wraper_heading {
    display: flex;
    gap: 40px;
}

.buy,
.rental {
    font-size: 30px;
    font-weight: 600;
    color: #E7A837;
}

.buy {
    color: yellow;
    border-bottom: 3px solid yellow;
}

.input_form {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

.form_contents {
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
}

.content,
.content_2,
.content_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location {
    font-size: 25px;
    font-weight: 500;
    color: yellow;
}

.city {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.city i {
    font-size: 20px;
    color: white;
}


.search {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.search_header {
    display: flex;
    justify-content: space-between;
}

.heading_left {
    font-size: 6.5rem;
    font-weight: 700;
}

.heading_right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.search_sub {
    font-size: 2rem;
    font-weight: 400;
}

.card_content {
    width: 648px;
    padding: 15px;
    border: 1px solid #E7A837;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search_card_heading {
    font-size: 3.6rem;
    font-weight: 500;
}

.search_card_bio {
    font-size: 2rem;
    font-weight: 400;
}

.primary_circle a {
    background-color: black;
    border-radius: 50%;
    padding: 36px;
    font-size: 20px;
}

.search_card_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_card_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card_row_1 {
    display: flex;
    gap: 24px;
}

.card_row_2 {
    display: flex;
    gap: 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.living {
    padding: 120px 300px;
    display: flex;
    gap: 75px;
}

.living_left {
    width: 484px;
    display: flex;
    flex-direction: column;
    gap: 79px;
}

.living_left_content {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.living_left_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.iving_left_sub {
    font-size: 2rem;
    font-weight: 400;
}

.stats {
    width: 424px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.size {
    display: flex;
    gap: 80px;
    font-size: 2rem;
    font-weight: 400;
}

.room {
    display: flex;
    gap: 66px;
    font-size: 2rem;
    font-weight: 400;
}

.bath {
    display: flex;
    gap: 22px;
    font-size: 2rem;
    font-weight: 400;
}

.living_right {
    display: flex;
    gap: 24px;
}

.living_img_1 {
    width: 368px;
}

.living_img_2 {
    width: 369px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
}

.bentocards {
    padding: 120px 300px;
    display: flex;
    gap: 46px;
}

.bento_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.card_1 {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.card_content1 {
    height: 380px;
    padding: 40px 32px;
    border-radius: 40px;
    background-color: #fdf7eb;
    box-shadow: 0px 2px 10px #aeaeae;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.num {
    font-size: 6.5rem;
    font-weight: 700;
    display: flex;
    justify-content: right;
}

.head {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.card_2 {
    width: 410px;
    padding: 40px 32px;
    border-radius: 40px;
    background-color: #f5d3af;
    box-shadow: 0px 2px 10px #aeaeae;
    display: flex;
    flex-direction: column;
    gap: 265px;
}

.card_content2 {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.card_3 {
    /* width: 410px; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 69px;
}

.card_content3 {
    width: 410px;
    height: 380px;
    padding: 40px 32px;
    border-radius: 40px;
    background-color: #fdf7eb;
    box-shadow: 0px 2px 10px #aeaeae;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.gallery {
    margin: 10px;
    padding: 120px 290px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    gap: 21px;
}

.gallery_left {
    display: flex;
    flex-direction: column;
    gap: 187px;
}

.gallery_left_heading {
    font-size: 6.5rem;
    font-weight: 700;
    color: #7f0505;
}

.gallery_right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.gallery_right_heading {
    font-size: 6.5rem;
    font-weight: 700;
    color: white;
}

.gallery_right_images {
    display: flex;
    gap: 32px;
}

.gallery_right_sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_sub {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subheading {
    font-size: 3.6rem;
    font-weight: 600;
    color: white;
}

.right_details {
    font-size: 2 rem;
    font-weight: 400;
    color: white;
}

.secondary_circle a {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 24px;
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 32px;
}

.rotate {
    transform: rotate(180deg);
    color: #E7A837;
}

.testimonial {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.testimonial_cards {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.testimonial_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.testimonial_row_1 {
    display: flex;
    gap: 28px;
}

.testimonial_row_1_card {
    width: 540px;
    height: 693px;
    padding: 127px 55px;
    border-radius: 40px;
    background-image: url(./assets/testimonial\ 1.png);
    background-size: cover;
    background-color: #fdf7eb;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row_1_card_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.row_1_card_sub {
    font-size: 2rem;
    font-weight: 400;
}

.testimonial_row_1_card_1 {
    width: 760px;
    height: 333px;
    background-image: url(./assets/businessman-dress-code-looks-motivated\ 1.png);
    background-repeat: no-repeat;
    background-color: #fdf7eb;
    border-radius: 40px;
    padding: 60px;
}

.card_1_texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
}

.row_1_card_1_heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.row_1_card_1_sub {
    font-size: 2.5rem;
    font-weight: 400;
}

.testimonial_row_1_card_2 {
    width: 760px;
    height: 333px;
    background-image: url(./assets/testimonial\ 2.png);
    background-repeat: no-repeat;
    background-color: #fdf7eb;
    border-radius: 40px;
    padding: 60px;
}

.testimonial_row_1_cards {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.testimonial_row_2 {
    display: flex;
    gap: 28px;
}

.testimonial_row_2_card {
    width: 368px;
    height: 500px;
    padding: 58px 54px;
    background-image: url(./assets/testimonial\ 3.png);
    background-color: #fdf7eb;
    border-radius: 40px;
    padding: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row_2_card_heading {
    font-size: 3.7rem;
    font-weight: 600;
}

.row_2_card_sub {
    font-size: 2.5rem;
    font-weight: 400;
}

.testimonial_row_3_card {
    width: 368px;
    height: 500px;
    background-color: #fdf7eb;
    border-radius: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row_3_card_heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.row_3_card_sub {
    font-size: 2.5rem;
    font-weight: 400;
}

.testimonial_row_2_cards {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.row_2_card_1 {
    background-color: black;
    width: 536px;
    height: 316px;
    padding: 111px 99px;
    border-radius: 40px;
    text-align: center;
}

.row_2_card_1_heading {
    font-size: 6.5rem;
    font-weight: 700;
    color: #E7A837;
}

.row_2_card_1_sub {
    font-size: 2.5rem;
    font-weight: 400;
    color: #7f0505;
}

.row_2_card_2 {
    height: 156px;
    padding: 20px;
    background-color: #fdf7eb;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;

}

.number {
    font-size: 6.5rem;
    font-weight: 700;
}

.total {
    font-size: 3.5rem;
    font-weight: 500;
}

.secondary_circle_black {
    width: 54px;
    height: 54px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 18px;
    font-size: 16px;
}

.choose {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    ;
}

.choose_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.choose_content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.choose_content_top {
    display: flex;
    align-items: center;
    gap: 68px;
}

.content_top_card {
    width: 380px;
    height: 453px;
    background-color: black;
    border-radius: 40px;
    padding: 58px 40px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.top_card_heading {
    font-size: 3.5rem;
    font-weight: 500;
    color: #E7A837;
}

.top_card_sub {
    font-size: 2rem;
    font-weight: 400;
    color: #E7A837;
}

.home {
    font-size: 10rem;
    font-weight: 400;
}

.content_reason {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.reason_1 {
    width: 872px;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7A837;
}

.reason_1 p {
    font-size: 3rem;
    font-weight: 600;
}

.angel {
    font-size: 2.5rem;
    transform: rotate(315deg);
}

.choose_content_bottom {
    display: flex;
    justify-content: space-between;
}

.content_bottom_text {
    font-size: 6.5rem;
    font-weight: 700;
    color: #b3b3b3;
}

.property {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.property_heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.main,
.sub {
    font-size: 6.5rem;
    font-weight: 700;
}

.sub {
    color: #b3b3b3;
}

.property_card {
    width: 417px;
    padding: 10px;
    border: 1px solid #E7A837;
    border-radius: 40px;
}

.property_card_heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.property_card_heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #E7A837;
    position: relative;
    left: 0;
    bottom: -15px;
}

.property_card_bio {
    font-size: 2rem;
    font-weight: 400;
}

.property_card_info {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.property_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property_content {
    display: flex;
    justify-content: space-between;
}

.insights {
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.insite {
    display: flex;
    justify-content: center;
    font-size: 6.5rem;
    font-weight: 700;
}

.insite_wraper {
    display: flex;
    align-items: center;
    gap: 73px;
}

.insite_wraper_left {
    width: 536px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.wraper_left_text {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.left_text_heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.right_text_heading {
    font-size: 3rem;
    font-weight: 500;
}

.right_text_sub {
    font-size: 2rem;
    font-weight: 400;
}

.insite_wraper_right {
    width: 711px;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.wraper_right_text {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #E7A837;
}

.faq {
    margin: 10px;
    padding: 120px 290px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    background-color: #fdf7eb;
}

.faq_heading {
    font-size: 6.5rem;
    font-weight: 700;
}

.faq_sub {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.questions {
    width: 1320px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.question::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #E7A837;
    position: relative;
    left: 0;
    bottom: 0;
}

.question_1 {
    display: flex;
    justify-content: space-between;

}

.open {
    font-size: 3rem;
    font-weight: 500;
}

.answer {
    font-size: 2rem;
    font-weight: 400;
}

.down {
    font-size: 3rem;
    transform: rotate(45deg);
}

.footer {
    margin: 10px;
    padding: 120px 300px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.footer_main {
    display: flex;
    justify-content: space-between;
}

.footer_navlinks {
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.footer_navlink {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

.footer_options p {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}

.footer_options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.write_heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

.write_content {
    font-size: 2rem;
    font-weight: normal;
    color: white;
    line-height: 30px;
}

.write {
    display: flex;
    flex-direction: column;
    gap: 32px;
}











/* @media (max-width:320px) {
    
}
@media (max-width:432px) {
    
}

/*  mobile */
/* @media (max-width:576px) {
    
}
/* large mobile */
/* @media (max-width:768px) {} */

/* tablets */
/* @media (max-width:992px) {
    
} */
/* laptops */
/* @media (max-width:120px) {
    
} */
/* desktops */
/* @media (max-width:1400px) {
    
}   */